.button4 {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 40px;
  padding: 2px 5px;
  margin: 0 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0c9c0d -webkit-gradient(linear, left top, left bottom, from(#82d18d), to(#0c9c0d));
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  -webkit-box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
          box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

.button4_w {
  width: 60px;
  font-size: 2em;
}

.button4:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}

.button4:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.button10 {
  position: relative;
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.25em 0.5em;
  outline: none;
  border: 1px solid #faac11;
  border-radius: 7px;
  background: #ffd403 -webkit-gradient(linear, left top, left bottom, from(#ffd403), to(#f89d17));
  background: #ffd403 linear-gradient(#ffd403, #f89d17);
  -webkit-box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
          box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
  -webkit-transition: border-color 0.2s, -webkit-box-shadow 0.2s;
  transition: border-color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, border-color 0.2s;
  transition: box-shadow 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
}

.button10:hover {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0.5);
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0.5);
}

.button10:active {
  padding: calc(0.25em + 1px) 0.5em calc(0.25em - 1px);
  border-color: #b19f00;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(255, 255, 0, 0.45);
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(255, 255, 0, 0.45);
}

.button13 {
  display: inline-block;
  width: 15em;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: #2e7ebd 0 1px 2px;
  text-decoration: none;
  text-align: center;
  line-height: 1.1;
  white-space: pre-line;
  padding: 0.7em 0;
  border: 1px solid;
  border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
  border-radius: 6px;
  outline: none;
  background: #60a3d8 -webkit-gradient(linear, left top, left bottom, from(#89bbe2), color-stop(50%, #60a3d8), to(#378bce));
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px;
          box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px;
}

.button13:first-line {
  font-size: 170%;
  font-weight: 700;
}

.button13:hover {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9dc7e7), color-stop(50%, #74afdd), to(#378bce));
  background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}

.button13:active {
  color: white;
  border-color: #2970a9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5796c8), to(#6aa2ce));
  background-image: linear-gradient(#5796c8, #6aa2ce);
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
/*# sourceMappingURL=buttons.css.map */